body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column; 
}

h1, h2, h3, p, blockquote, pre, ul, li {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h1, h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #004242;
}

/* Other styles... */

.main-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.half-width.text-section {
    display: flex;
    align-items: center; /* This controls vertical alignment */
    justify-content: flex-start; /* This controls horizontal alignment */
    flex-direction: column;
    text-align: left; /* This controls text alignment */
}

.half-width.text-section p {
    text-align: left;
    width: 100%;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.full-width-image {
    width: 100%;
    height: auto;
}